[user]
	name = Johnatan Dias
	email = johnatan.dias@gmail.com

[core]
	editor = code --wait
	deltaBaseCacheLimit = 1G
	pager = git-split-diffs --color | less -RFX

[diff]
  tool = vscode

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[split-diffs]
  theme-name = github-dark-dim

[pull]
	rebase = true

[color]
	ui = true
	branch = auto
	diff = auto
	status = auto

[fetch]
	prune = true

[alias]
	a = add --all
	s = status -s -b
	b = branch
	ac = !git add . && git commit
	lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	last = for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads
	logline = log --oneline --stat --branches
	amend = commit --amend --no-edit
	compare = !git lg $1..$2 --no-merges
	current-branch = rev-parse --abbrev-ref HEAD
	clear = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
	debug = !GIT_TRACE=1 git
	search-my-commits = !git lg --author="johnatan.dias@gmail.com"
	search-by-author = "!f() { git lg --author=$1; }; f"
	update = remote update -p
	unstage = reset -q HEAD --
	uncommit = reset --mixed HEAD~
	rl = "reflog --date=iso"
	branch-clear = "!git branch | grep -v '*' | xargs git branch -D"
	stash-staged = "!git stash -- $(git diff --staged --name-only)"
	push-upstream = "!git push -u origin $(git current-branch)"
	count-by-author = shortlog -sn --all
	prev = checkout HEAD^1
	ahead = "!sh -c 'echo branch is $(git rev-list --count origin/master..HEAD) commits ahead master'"
	behind = "!sh -c 'echo branch is $(git rev-list --count HEAD..origin/master) commits behind master'"
