[user]
	name = Johnatan Dias
	email = johnatan.dias@gmail.com

[core]
	editor = code-insiders --wait
	deltaBaseCacheLimit = 1G

[diff]
  tool = vscode

[difftool "vscode"]
  cmd = code-insiders --wait --diff $LOCAL $REMOTE

[color]
	ui = true
	branch = auto
	diff = auto
	status = auto

[fetch]
	prune = true

[alias]
	a = add --all
	s = status -s -b
  b = branch
	ac = !git add . && git commit
	lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
  last = for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads
	amend = commit --amend --no-edit
	compare = !git lg $1..$2 --no-merges
	clear = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
